* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #fff0f5;
}

header {
  background: #8a0057;
  color: white;
  font-size: 14px;
  text-align: center;
  justify-content: space-between;
  padding: 10px 20px;
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9B9595;
  font-family: 'Playfair Display', serif;
  padding: 10px 60px;
  box-shadow: 0 4px 10px rgba(4, 4, 4, 0.363);
  backdrop-filter: blur(4px);
}

.search-bar {
  position: relative;
  width: 320px;
}

.search-bar input {
  padding: 8px 45px 8px 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 500px;
  font-size: 14px;
  color: #7a1b4b;
}

.search-icon {
  position: absolute;
  right: -179px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f2c9d8;
  border-radius: 50%;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-icon img {
  width: 16px;
  height: 16px;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 60px;
  height: auto;
  margin-right: 0;
}

.logo-text {
  font-family: "Allura", cursive;
  font-style: normal;
  color: white;
  font-size: 30px;
  margin-left: 0;
}

.left-section a {
  text-decoration: none;
  color: #fbf1f1;
  font-size: 20px;
}

.left-section a:hover,
footer a:hover {
  text-decoration: underline white;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons a img {
  width: 28px;
  height: 28px;
}

.add_cat,
.add_admin,
.update_cat,
.update_admin,
.add_offer,
.offer_add,
.update_offer,
.add_pro,
.pro_add,
.pro_update,
.user_add,
.user_update,
.add_user{
  background: #9E4C7A;
  font-size: 15px;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
  height: 40px;
  width: 150px;
  cursor: pointer;
  font-family: "Playfair Display", serif;
}

.add_cat:hover,
.add_admin:hover,
.update_cat:hover,
.update_admin:hover,
.add_offer:hover,
.offer_add:hover,
.update_offer:hover,
.add_pro:hover,
.pro_add:hover,
.pro_update:hover,
.user_add:hover,
.user_update:hover,
.add_user:hover{
  background: #990e5c;
}

.category-boxes,
.admin-boxes,
.offer-boxes,
.product-boxes,
.user-boxes{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 200px;
}

.cat_table,
.admin_table,
.offer_table,
.pro_table,
.user_table,
th,
td,
tr {
  border: 1px solid rgb(188, 188, 188);
}

.cat_table,
.admin_table,
.offer_table,
.pro_table,
.user_table {
  width: 85%;
  border-collapse: collapse;
}

.cat_table th,
.cat_table td,
.admin_table th,
.admin_table td,
.offer_table th,
.offer_table td,
.pro_table th,
.pro_table td,
.user_table th,
.user_table td{
  padding: 20px;
  text-align: left;
}

.cat_table thead,
.admin_table thead,
.offer_table thead,
.pro_table thead,
.user_table thead{
  background-color: #9E4C7A;
  color: rgb(255, 255, 255);
}

.cat_table tbody tr:hover,
.admin_table tbody tr:hover,
.offer_table tbody tr:hover,
.pro_table tbody tr:hover,
.user_table tbody tr:hover{
  background-color: #ebb7d4;
}

.cat_table a,
.admin_table a,
.offer_table a,
.pro_table a,
.user_table a{
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
  border-radius: 10px;
}

h3 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.content h1 {
  color: #000000;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: lighter; 
  margin-top: 40px;
}
.delete {
  margin-left: 45%;
}

.delete a {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
  border-radius: 10px;
}
.social-icon {
  justify-content: space-around;
  align-items: center;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding-top: 15px;
}

.Contact,
.Shop {
  color: white;
  padding-top: 0;
  justify-content: space-around;
  text-align: center;
  margin: 0px 100px;
}

.Contact h3,
.Shop h3 {
  font-size: 25px;
}


.form input {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  font-size: larger;
  margin-left: 100px;
  margin-top: 15px;
  color: black;
  width: 70%;
  height: 40px;
}

.form h2 {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  font-size: larger;
  margin-left: 100px;
  margin-top: 35px;
  color: black;
}

.content {
  margin-top: 50px;
  padding: 5px;
  margin: 70px;
  margin-left: 25%;
  max-width: 50%;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(4, 4, 4, 0.363);
  backdrop-filter: blur(4px);
  align-items: center;
}

footer {
  background: #990E5C;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}
